<h1>Listing trays</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trays.each do |tray| %>
  <tr>
    <td><%= tray.name %></td>
    <td><%= tray.image %></td>
    <td><%= link_to 'Show', tray %></td>
    <td><%= link_to 'Edit', edit_tray_path(tray) %></td>
    <td><%= link_to 'Destroy', tray, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tray', new_tray_path %>
