<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tray.name %>
</p>

<p>
  <b>Image:</b>
  <%= @tray.image %>
</p>


<%= link_to 'Edit', edit_tray_path(@tray) %> |
<%= link_to 'Back', trays_path %>
