<h1>Listing porcelains</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @porcelains.each do |porcelain| %>
  <tr>
    <td><%= porcelain.name %></td>
    <td><%= porcelain.image %></td>
    <td><%= link_to 'Show', porcelain %></td>
    <td><%= link_to 'Edit', edit_porcelain_path(porcelain) %></td>
    <td><%= link_to 'Destroy', porcelain, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Porcelain', new_porcelain_path %>
